CODIGO FUENTE/flows.json
[{"id":"186e9481.a1218b","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"be9f22e1.a76ab","type":"mqtt in","z":"186e9481.a1218b","name":"","topic":"puertaAlarma","qos":"2","datatype":"auto","broker":"45e0bc0c.115d54","x":170,"y":180,"wires":[["2054b043.44cf6"]]},{"id":"bff90032.51d1","type":"mqtt out","z":"186e9481.a1218b","name":"","topic":"focoEstado","qos":"","retain":"","broker":"45e0bc0c.115d54","x":650,"y":440,"wires":[]},{"id":"2054b043.44cf6","type":"ui_switch","z":"186e9481.a1218b","name":"","label":"Puerta","tooltip":"","group":"10daf53a.13f77b","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"Abierta","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Cerrada","offvalueType":"str","officon":"","offcolor":"","x":410,"y":180,"wires":[["d86cc6d2.167d68","a15e4b0b.fe0ab8","53b68360.f314fc"]]},{"id":"d86cc6d2.167d68","type":"ui_text","z":"186e9481.a1218b","group":"10daf53a.13f77b","order":7,"width":0,"height":0,"name":"","label":"Alarma","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":180,"wires":[]},{"id":"53b68360.f314fc","type":"ui_toast","z":"186e9481.a1218b","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":670,"y":260,"wires":[]},{"id":"a15e4b0b.fe0ab8","type":"ui_audio","z":"186e9481.a1218b","name":"","group":"10daf53a.13f77b","voice":"es-ES","always":"","x":640,"y":100,"wires":[]},{"id":"e01aabbe.432f68","type":"ui_switch","z":"186e9481.a1218b","name":"","label":"foco","tooltip":"","group":"10daf53a.13f77b","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":390,"y":440,"wires":[["bff90032.51d1"]]},{"id":"45e0bc0c.115d54","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.146","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"10daf53a.13f77b","type":"ui_group","z":"","name":"MQTT","tab":"adff5058.4d582","disp":true,"width":"6","collapse":false},{"id":"adff5058.4d582","type":"ui_tab","z":"","name":"Proyecto_investigacion","icon":"dashboard","order":3,"disabled":false,"hidden":false}]